In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [29]:
def activation_function(net_input,ch):
    if(ch==1):
        return 1/(1+np.exp(-net_input))
    elif(ch==2):
        return (1-np.exp(-net_input))/(1+np.exp(-net_input))  

def derivative(net_input,ch):
    if(ch==1):
        return net_input*(1-net_input)    
    elif(ch==2):
        return (1/2)*(1+net_input)*(1-net_input)  

def predict(inputs, input_weights, hidden_weights, input_biases, hidden_bias, ch):
    hidden_input = np.dot(inputs, input_weights) + input_biases
    hidden_output=[]
    for i in range(len(hidden_input)):
        hidden_output.append(activation_function(i, ch))
    output_input = np.dot(hidden_output, hidden_weights) + hidden_bias
    output = activation_function(output_input[0], ch)
    return round(output)

def train_mlp(train, hidden_units, lr, ch, target):
    input_units = len(train.columns) - 1
    output_units = 1

    input_weights = np.random.rand(input_units, hidden_units)
    hidden_weights = np.random.rand(hidden_units, output_units)
    input_biases = np.zeros(hidden_units)
    hidden_bias = 0

    converged = False
    epoch = 0
    while not converged and epoch <= 10:
        converged = True
        for i in range(len(train)):
            hidden_input = np.dot(train.iloc[i, :target].astype(float), input_weights) + input_biases
            hidden_output = [activation_function(h_input, ch) for h_input in hidden_input]
            output_input = np.dot(hidden_output, hidden_weights) + hidden_bias
            output = activation_function(output_input, ch)

            error = train.iloc[i, target] - output
            delta_output = error * derivative(output, ch)

            hidden_error = delta_output.dot(hidden_weights.T)
            delta_hidden = hidden_error * np.array([derivative(h_out, ch) for h_out in hidden_output])

            hidden_weights += lr * np.outer(hidden_output, delta_output)
            hidden_bias += lr * delta_output

            input_weights += lr * np.outer(train.iloc[i, :target].astype(float), delta_hidden)
            input_biases += lr * delta_hidden

            if error != 0:
                converged = False
        epoch += 1

    print('\nFinal input weights:\n', input_weights)
    print('Final hidden weights:\n', hidden_weights)
    print('Input biases:', input_biases)
    print('Hidden bias:', hidden_bias, "\n")
    return input_weights, hidden_weights, input_biases, hidden_bias


def train_test_split(data,split_ratio):
    train_size=int(len(data)*split_ratio)
    print("LEN",train_size)
    train=data[:train_size]
    test=data[train_size:]
    return train,test

In [11]:

df=pd.read_csv(r"D:\SEM-5\ML-LAB\ex-1\new_forest_full_dataset.csv")
le=LabelEncoder()
df.columns=df.columns.str.strip()
df['Classes']=df['Classes'].str.strip()

In [8]:
df.columns

Index(['day', 'month', 'year', 'Region', 'Temperature', 'RH', 'Ws', 'Rain',
       'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')

In [12]:
df

,day,month,year,Region,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,Bejaia,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,no
1,2,6,2012,Bejaia,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,no
2,3,6,2012,Bejaia,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,no
3,4,6,2012,Bejaia,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,no
4,5,6,2012,Bejaia,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,26,9,2012,Sidi-Bel-Abbes,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,yes
240,27,9,2012,Sidi-Bel-Abbes,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,no
241,28,9,2012,Sidi-Bel-Abbes,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,no
242,29,9,2012,Sidi-Bel-Abbes,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,no
243,30,9,2012,Sidi-Bel-Abbes,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,no

In [14]:
df['Classes']=le.fit_transform(df['Classes'])
df['Region']=le.fit_transform(df['Region'])

In [19]:
df=df.drop('year',axis=1)

In [20]:
df

,day,month,Region,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,0,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0
1,2,6,0,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0
2,3,6,0,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0
3,4,6,0,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0
4,5,6,0,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,26,9,1,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,1
240,27,9,1,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,0
241,28,9,1,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,0
242,29,9,1,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,0
243,30,9,1,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,0

In [26]:
np.asarray(df)

array([[ 1. ,  6. ,  0. , ...,  3.4,  0.5,  0. ],
       [ 2. ,  6. ,  0. , ...,  3.9,  0.4,  0. ],
       [ 3. ,  6. ,  0. , ...,  2.7,  0.1,  0. ],
       ...,
       [28. ,  9. ,  1. , ...,  3.4,  0.2,  0. ],
       [29. ,  9. ,  1. , ...,  5.1,  0.7,  0. ],
       [30. ,  9. ,  1. , ...,  4.8,  0.5,  0. ]])

In [31]:

ts=float(input("Enter the test size:"))
train_size=1-ts

train,test=train_test_split(df,train_size)
print("\nTraining Set:\n",train,"\n\nTesting Set:\n",test,"\n")

lr=float(input("Enter the learning rate:"))
hidden=int(input("Enter the number of hidden units:"))
ch=int(input('\n1.Binary Sigmoidal Function\n2.Bipolar Sigmoidal Function\n\nEnter your choice:'))

target=13

iweights,hweights,ibias,hbias=train_mlp(train,hidden,lr,ch,target)

prediction=[]
for i in range(len(test)):    
    pred=predict(test.iloc[i,:target],iweights,hweights,ibias,hbias,ch)
    prediction.append(pred)
print('Sample prediction:\n')
print('Act O/P:',test.iloc[1,target],'Pred O/P:',prediction[1])

test=test.iloc[:,target]

acc=accuracy_score(test,prediction)
print("\nAccuracy:\n",acc)

Enter the test size:0.25
LEN 183

Training Set:
      day  month  Region  Temperature  RH  Ws  Rain  FFMC   DMC    DC  ISI
0      1      6       0           29  57  18   0.0  65.7   3.4   7.6  1.3  \
1      2      6       0           29  61  13   1.3  64.4   4.1   7.6  1.0
2      3      6       0           26  82  22  13.1  47.1   2.5   7.1  0.3
3      4      6       0           25  89  13   2.5  28.6   1.3   6.9  0.0
4      5      6       0           27  77  16   0.0  64.8   3.0  14.2  1.2
..   ...    ...     ...          ...  ..  ..   ...   ...   ...   ...  ...
178   27      7       1           29  87  18   0.0  80.0  11.8  28.3  2.8
179   28      7       1           33  57  16   0.0  87.5  15.7  37.6  6.7
180   29      7       1           34  59  16   0.0  88.1  19.5  47.2  7.4
181   30      7       1           36  56  16   0.0  88.9  23.8  57.1  8.2
182   31      7       1           37  55  15   0.0  89.3  28.3  67.2  8.3

      BUI   FWI  Classes
0     3.4   0.5        0
1     3.9   0.4        0
2     2.7   0.1        0
3     1.7   0.0        0
4     3.9   0.5        0
..    ...   ...      ...
178  11.8   3.2        0
179  15.7   9.0        1
180  19.5  10.9        1
181  23.8  13.2        1
182  28.3  14.5        1

[183 rows x 14 columns]

Testing Set:
      day  month  Region  Temperature  RH  Ws  Rain  FFMC   DMC    DC   ISI
183    1      8       1           38  52  14   0.0  78.3   4.4  10.5   2.0  \
184    2      8       1           40  34  14   0.0  93.3  10.8  21.4  13.8
185    3      8       1           39  33  17   0.0  93.7  17.1  32.1  17.2
186    4      8       1           38  35  15   0.0  93.8  23.0  42.7  15.7
187    5      8       1           34  42  17   0.1  88.3  23.6  52.5  19.0
..   ...    ...     ...          ...  ..  ..   ...   ...   ...   ...   ...
239   26      9       1           30  65  14   0.0  85.4  16.0  44.5   4.5
240   27      9       1           28  87  15   4.4  41.1   6.5   8.0   0.1
241   28      9       1           27  87  29   0.5  45.9   3.5   7.9   0.4
242   29      9       1           24  54  18   0.1  79.7   4.3  15.2   1.7
243   30      9       1           24  64  15   0.2  67.3   3.8  16.5   1.2

      BUI   FWI  Classes
183   4.4   0.8        0
184  10.6  13.5        1
185  16.9  19.5        1
186  22.9  20.9        1
187  23.5  12.6        1
..    ...   ...      ...
239  16.9   6.5        1
240   6.2   0.0        0
241   3.4   0.2        0
242   5.1   0.7        0
243   4.8   0.5        0

[61 rows x 14 columns]

Enter the learning rate:1
Enter the number of hidden units:5

1.Binary Sigmoidal Function
2.Bipolar Sigmoidal Function

Enter your choice:1

Final input weights:
 [[0.01252353 0.15454205 0.46674038 0.78084379 0.61728465]
 [0.86634078 0.61621777 0.81954814 0.23864865 0.23597914]
 [0.58411942 0.92023329 0.60469793 0.43331987 0.230508  ]
 [0.75539364 0.83956551 0.02563143 0.84110956 0.14367531]
 [0.7994411  0.74636269 0.51678838 0.10582016 0.66479002]
 [0.06555054 0.29766262 0.73402579 0.66548583 0.56609458]
 [0.30170647 0.39355922 0.81901355 0.6383923  0.08135952]
 [0.39604238 0.04137864 0.93417609 0.61157051 0.10978786]
 [0.02250008 0.7095979  0.52221235 0.96322543 0.73981775]
 [0.66475371 0.25779689 0.78443421 0.43675381 0.23242743]
 [0.00315047 0.53663371 0.24306308 0.01833036 0.38539848]
 [0.15529768 0.48709733 0.38639487 0.60739533 0.95262564]
 [0.74968206 0.15147246 0.35173165 0.75606349 0.30818243]]
Final hidden weights:
 [[0.61023268]
 [0.53408171]
 [0.11068609]
 [0.07290081]
 [0.29798262]]
Input biases: [0. 0. 0. 0. 0.]
Hidden bias: [-0.09007145]

Sample prediction:

Act O/P: 1 Pred O/P: 1

Accuracy:
 0.7049180327868853